<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Congif 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.aonproject.admin.notice.vo.NoticeVO" alias="notice"/>
		<typeAlias type="com.aonproject.admin.aInfo.vo.AdminVO" alias="admin"/>	
		<typeAlias type="com.aonproject.admin.product.vo.ProductVO" alias="product"/>
		<typeAlias type="com.aonproject.admin.category.vo.CategoryVO" alias="category"/>
		<typeAlias type="com.aonproject.admin.commoncode.vo.CommonCodeVO" alias="commonCode"/>
		<typeAlias type="com.aonproject.common.util.upload.vo.UploadVO" alias="upload"/>
		<typeAlias type="com.aonproject.admin.policy.vo.PolicyVO" alias="policy"/>
		<typeAlias type="com.aonproject.common.util.vo.PolicyAgrVO" alias="policyAgr"/>
		<typeAlias type="com.aonproject.client.mInfo.vo.MemberVO" alias="member"/>
		<typeAlias type="com.aonproject.admin.imageUpload.vo.ImageUploadVO" alias="imageUpload"/>
		<typeAlias type="com.aonproject.admin.stock.vo.StockVO" alias="stock"/>
		<typeAlias type="com.aonproject.client.order.vo.CartVO" alias="cart"/>
		<typeAlias type="com.aonproject.client.order.vo.Product_orderVO" alias="order"/>
		<typeAlias type="com.aonproject.client.mInfo.vo.MemberSubAddressVO" alias="msa"/>
	</typeAliases>
</configuration>