<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Congif 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.aonproject.admin.aInfo.vo.AdminVO" alias="admin"/>	
		<typeAlias type="com.aonproject.admin.product.vo.ProductVO" alias="product"/>
		<typeAlias type="com.aonproject.admin.category.vo.CategoryVO" alias="category"/>
		<typeAlias type="com.aonproject.admin.commoncode.vo.CommonCodeVO" alias="commonCode"/>
		<typeAlias type="com.aonproject.common.util.upload.vo.UploadVO" alias="upload"/>
		<typeAlias type="com.aonproject.admin.policy.vo.PolicyVO" alias="policy"/>
		<typeAlias type="com.aonproject.admin.review.vo.ReviewVO" alias="review" />
	</typeAliases>
</configuration>