@CHARSET "UTF-8";

	.category-Insert{
		max-width:800px;
		margin:100px;
		}
	.ca_top{
		border-bottom: 1px solid #BDBDBD;
		width : 500px;
		padding-bottom: 10px;
		}
	.ca_top h1{
		font-size: 30px;
		padding-left: 10px;
		}
	.category-Insert table{
		margin-top:10px;
		width:450px;
		padding-left: 10px;
		}	
	.category-Insert table td{
		padding:10px 0 10px 0;
		
		}
	.category-Insert table .catr2 input{
		float: right;
		margin : 5px;
		width:60px;
		height: 35px;
		text-align: center;
		}
	.caList{
		max-width:800px;
		margin:100px;
		}
	.caList table{
		margin-top:10px;
		width:450px;
		padding-left: 10px;
		}	
	.caList table td{
		padding:10px 0 10px 0;
		}
	.ca_name1{
		float:left;
		width:33%;
		padding-top:6px;
		}
	.caDeleteBtn, .caUpdateBtn{
		width:50px;
		height: 30px;
		}
	
	
	
	
	