@CHARSET "UTF-8";

	.section{
           background-attachment: fixed;
           background-size: cover;
           height: 100vh;
           overflow: hidden;
           z-index:0;
       }
