@CHARSET "UTF-8";

/*공통요소*/
* {text-decoration:none;}
body{font-size:14px; min-width:1200px;}
.bold {font-weight:bold;}
.alignC {text-align:center;}
.floatL {float:left;}
.text-overflow {text-overflow: ellipsis;}

/*헤더*/
header {width:100%; height:36px;}
.topMenuContainer {width:330px; height:100%; float:right;}
.topMenu > li {display:inline-block; margin:1em 1em 1em 0; font-size:12px;}
.topMenu > li > a {color:#7f7f7f;}

/*네비게이션*/
nav {position:fixed; width:200px; height:100vh; padding:10px; display:inline-block;}
  .logo {width:100%; padding:1em 0 2em 0;}
    .brandLogo {font-size:2rem; color:#2d2d2d;}
  .nav {width:100%; margin:2em 0;}
  .nav > li {padding:0.6em 1em;}
  .nav > li > .shop {margin-left:2.8em; color:#777;}
  .nav > li > a {margin-left:2.8em; color:#777;}
  .nav > li > a:hover {text-decoration:underline;}

/* 컨텐츠 */
.contentContainer {margin:0 10px 1em 230px; padding:2em 1em;}
/*컨텐츠 영역 확인 확인 후 삭제*/
/* .contentContainer {height:600px; border:1px solid #f00} */

/*푸터*/
footer {height:200px; background:#f00; margin:0 10px 0 230px; background:#efefef; padding:1em 0; font-size:0.8rem; color:#777;}
footer .borderR{border-right:1px solid #d8d5d5;}
footer .borderL{border-left:1px solid #d8d5d5;}
  .footerContentLogo {width:20%; min-width:70px; height:100%; margin-right:10px;}
    .footerLogo {position:relative; width:82%; min-width:70px; height:64px; top:30%; margin:0 auto;}
  .footerContentInfo {width:34%; min-width:70px; height:50%; margin-right:10px;}
  .footerContent {width:20%; min-width:70px; height:50%; margin-right:10px;}
  .footerContentCompanyInfo {width:76%; min-width:70px; height:44%; margin-top:1%;}
footer h3 {font-size:16px; margin-bottom:0.6rem;}
  .floatL >  ul > li {margin:0.4em 0; line-height:1.2em;}
  .ellipsis { width: 100%; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

/*max-width 1200px이하시 푸터 레이아웃 변경*/
@media (max-width:1200px) {
  footer {padding-bottom:3em;}
  .footerContentInfo {width:77%;}
  .footerContentCompanyInfo {width:30%; min-width:70px; padding-left:10px; border-left:1px solid #d8d5d5;}
}
